.main {
    max-height: 220px;
    margin-top: 20px;
    margin-bottom: 20px;
    display: flex;
    overflow-y: auto;
    overflow-x: hidden;
    opacity: 0.7;
    border-radius: 10px;
}

.tasklist {
    max-width: 240px;
    border-radius: 10px;
}

.filterbutton button {
    margin-left: 15px;
}

.addbutton {
    margin-left: 20px;
    font-size: 18px;
}

.maintitle {
    margin-bottom: -10px;
}

table {
    width: 100%;
    border-collapse: collapse;
}


.tdCheckbox {
    width: 20%;
    padding-top: 6px;
}

.tdButton {
    width: 20%;
}

.tdTask {
    max-width: 60px;
    overflow-x: hidden;
    white-space: nowrap;
    text-overflow: ellipsis;
}
