.App {
    padding: 30px;
    display: flex;
    border: 1px solid lightgrey;
    border-radius: 10px;
    box-shadow: 5px 5px 5px lightgrey;
    margin: 20px;
}


input {
    border-radius: 5px;
    height: 40px;
}

span {
    display: inline-block;
}

button {
    cursor: pointer;
    border-radius: 5px;
    color: grey;
    font-size: 14px;
}

.error {
    border: 1px solid red;
}

.error-message {
    color: red;
}

.active-filter {
    background-color: cornflowerblue;
    color: whitesmoke;
}

.is-done {
    opacity: 0.5;
    text-decoration: line-through;
}

.flex-row {
    display: flex;
    flex-wrap: wrap;
}

.delTodoList {
    margin-left: 260px;
    margin-top: -15px;
    cursor: pointer;
}

.delTodoList button {
    width: 0px;
    height: 0px;
    font-size: 18px;
    color: darkgrey;
    font-weight: bold;
    border: none;
    background-color: transparent;
}

.newtodo {
    margin: 20px;
}

